# ------------------------------------------------------------------------------
# Игнорируемые директории
# ------------------------------------------------------------------------------

/node_modules
/.nuxt
/dist

# ------------------------------------------------------------------------------
# Игнорируемые файлы
# ------------------------------------------------------------------------------

/sw.*
